{% extends "@App/page.html.twig" %}

{% block title %}
{{ 'news' | trans({}, 'titles') }}
{{ parent() }}
{% endblock %}

{% block pageHeaderTitle 'news' | trans({}, 'titles') %}

{% block pageContent %}
<link href="{{ asset('bundles/nacholibrenewsbundle/styles.css') }}" rel="stylesheet">

<div class='row nl'>
    <div class='col-md-9 news'>
        {% if not news | length %}
        <h2>There is nothing here.</h2>
        {% endif %}
        {% for post in news %}
        <div class='post'>
            <h2>
                <a href='#'>{{ post.title }}</a>
            </h2>
            {{ post.content | raw }}
            <div>
                {{ post.getCreatedAt() | date('Y/m/d') }}
            </div>
            <hr>
        </div>
        {% endfor %}
        {{ knp_pagination_render(news) }}
    </div>
    <div class='col-md-3'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent posts</h3>
            </div>
            <div class="panel-body">
                asd<br />
                asd<br />
                asd<br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
